<app-head [title]="'Detalle'"></app-head>

<ion-content>
  <app-barbuttons></app-barbuttons>
  <ion-row class="m-t-50">
    <ion-col size="12">
      <ion-card>
        <app-graphicsbarralt></app-graphicsbarralt>
      </ion-card>
    </ion-col>
    <ion-col size="12">
      <ion-card class="text-blanco">
        <h2 class="text-blanco d-block">
          Contenido
        </h2>
        <ion-row>
          <ion-col size="6">
            <span class=" m-t-10">1,911.12 MXN</span>
          </ion-col>
          <ion-col size="6">
            <span class=" m-t-10">1.05%</span>
          </ion-col>
          <ion-col size="12 p-l-10">
            <span class="text-regular m-t-10">Contenido 1: </span><span class="text-bold">Sal Rosa</span>
          </ion-col>
          <ion-col size="12 p-l-10">
            <span class="text-regular m-t-10">Contenido 2: </span><span class="text-bold"> Pimienta  Negra</span>
          </ion-col>
          
         
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col size="12">
      <ion-card class="text-blanco">
        <h2 class="text-blanco d-block">
          Empaque
        </h2>
        <ion-row>
          <ion-col size="6">
            <span class=" m-t-10 text-center">1,911.12 MXN</span>
          </ion-col>
          <ion-col size="6">
            <span class=" m-t-10 text-center">1.05%</span>
          </ion-col>
          <ion-col size="12 p-l-10">
            <span class="text-regular m-t-10">Embase: </span><span class="text-bold">Bolsa 1</span>
          </ion-col>
          <ion-col size="12 p-l-10">
            <span class="text-regular m-t-10">Tapa: </span><span class="text-bold">N/A</span>
          </ion-col>
          <ion-col size="12 p-l-10">
            <span class="text-regular m-t-10">Etiqueta 1: </span><span class="text-bold">Etiqueta Tamaño 1</span>
          </ion-col>
          <ion-col size="12 p-l-10">
            <span class="text-regular m-t-10">Etiqueta 2: </span><span class="text-bold">Etiqueta 2</span>
          </ion-col>
          <ion-col size="12 p-l-10">
            <span class="text-regular m-t-10">Empaque 2a.: </span><span class="text-bold">Caja de 12 cartón</span>
          </ion-col>
          <ion-col size="12 p-l-10">
            <span class="text-regular m-t-10"> Empaque 3a.: </span><span class="text-bold">Caja de 20 cartón</span>
          </ion-col>
         
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col routerLink='/volumenvsmargen/generales' size="12">
      <ion-card class="text-blanco">
        <h2 class="text-blanco d-block">
          Generales
        </h2>
        <ion-row>
          <ion-col size="6">
            <span class=" m-t-10">1,911.12 MXN</span>
          </ion-col>
          <ion-col size="6">
            <span class=" m-t-10">1.05%</span>
          </ion-col>
          <ion-col size="12 p-l-10">
            <span class="text-regular m-t-10">Logistica </span>
          </ion-col>
          <ion-col size="12 p-l-10">
            <span class="text-regular m-t-10">Servicios </span>
          </ion-col>
          <ion-col size="12 p-l-10">
            <span class="text-regular m-t-10">Mano de Obra      </span>
          </ion-col>
          <ion-col size="12 p-l-10">
            <span class="text-regular m-t-10">Otros </span>
          </ion-col>
          
         
        </ion-row>

      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>


<app-footer></app-footer>
