<ion-row class="row m-t-10 p-3">
  <ion-col size="3">
    <ion-fab class="m-t-30"  horizontal="end" vertical="top"  edge>
      <ion-fab-button>
        <i class="fa fa-sort" aria-hidden="true"></i>
      </ion-fab-button>
      <ion-fab-list>
        <ion-label>Nombre</ion-label>
        <ion-fab-button color="light">
        A <ion-icon src="/assets/icons/sync-outline.svg"  name="swap-vertical-outline"></ion-icon>Z
        </ion-fab-button>
        <ion-fab-button color="light">
         Z <ion-icon src="/assets/icons/sync-outline.svg"  name="swap-vertical-outline"></ion-icon>A
        </ion-fab-button>
        <ion-label>Márgen</ion-label>
        <ion-fab-button color="light">
          A <ion-icon src="/assets/icons/sync-outline.svg"  name="swap-vertical-outline"></ion-icon>Z
        </ion-fab-button>
        <ion-fab-button color="light">
          Z <ion-icon src="/assets/icons/sync-outline.svg"  name="swap-vertical-outline"></ion-icon>A
        </ion-fab-button>
        <ion-label>Precio</ion-label>
        <ion-fab-button color="light">
          1 <ion-icon src="/assets/icons/sync-outline.svg"  name="swap-vertical-outline"></ion-icon>9
        </ion-fab-button>
        <ion-fab-button color="light">
          9 <ion-icon src="/assets/icons/sync-outline.svg"  name="swap-vertical-outline"></ion-icon>1
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-col>
  <ion-col size="3">
    <ion-fab class="m-t-30" horizontal="end" vertical="top"  edge>
      <ion-fab-button>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
      </ion-fab-button>
      <ion-fab-list>
        <ion-fab-button color="secondary">
         1
        </ion-fab-button>
        <ion-fab-button color="light">
         3
        </ion-fab-button>
        <ion-fab-button color="light">
          6
        </ion-fab-button>
        <ion-fab-button color="light">
          12
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-col>
  <ion-col size="3">
    <ion-fab class="m-t-30"  horizontal="end" vertical="top"  edge>
      <ion-fab-button>
        <i class="fa fa-sliders" aria-hidden="true"></i>
      </ion-fab-button>
      <ion-fab-list>
        
        <ion-fab-button color="light">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="light">
          <ion-icon name="logo-vimeo"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-col>
  <ion-col size="3">
    <ion-fab class="m-t-30"  horizontal="end" vertical="top"  edge>
      <ion-fab-button>
        <i class="fa fa-usd" aria-hidden="true"></i>
      </ion-fab-button>
      <ion-fab-list>
        <ion-fab-button color="secondary">
         Max
        </ion-fab-button>
        <ion-fab-button color="light">
         Med
        </ion-fab-button>
        <ion-fab-button color="light">
         Lifo
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-col>
</ion-row>