<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col size="2" >
      <ion-button href='/inicio' class="text-center" >
        <i class="fa fa-home" aria-hidden="true"></i>
      </ion-button>
    </ion-col>
   
    
  
    
    <ion-col size="2">
      <ion-button  href='/productos/list' class="text-center">
        <i class="fa fa-list" aria-hidden="true"></i>
      </ion-button>
    </ion-col>
    <ion-col size="4" class="content-button">
      <ion-button href='/productos/descripcion' class="btn-plus">
        <i class="fa fa-plus text-blanco" aria-hidden="true"></i>
      </ion-button>
    </ion-col>
    <ion-col size="2" class="text-center">
      <ion-button  href='/buscar'>
        <i class="fa fa-search" aria-hidden="true"></i>
      </ion-button>
    </ion-col>
    <ion-col size="2"  class="text-center">
      <ion-button href='/alerta/form'>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>