<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Go Position</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true"
             (ionScroll)="onScroll($event)">

    <custom-card-list-product [list]="list"></custom-card-list-product>
    <ion-fab horizontal="center" vertical="center" slot="fixed">
        <ion-fab-button color="secondary">
            <ion-icon name="share"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="primary" (click)="goTop()">
                <ion-icon name="md-arrow-up"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end">
            <ion-fab-button color="dark" (click)="goPoint()">
                <ion-icon name="md-arrow-forward"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="bottom">
            <ion-fab-button color="secondary" (click)="goBottom()">
                <ion-icon name="md-arrow-down"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start">
            <ion-fab-button color="light" (click)="goRight()">
                <ion-icon name="md-arrow-back"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
