:host {
  .slider {
    overflow-x: scroll;
    display: -webkit-inline-box;
    display: flex;
    flex-direction: row;
  }

  .background-size {
    height: 100px;
  }

  ion-card {
    margin: 4px 4px 10px 4px;
    position: relative;
    width: 150px;
    flex: none;
  }

  ion-card-content {
    background: var(--my-custom-item-background);
    padding: 10px 8px 10px 8px !important;

    p {
      margin-top: 10px;
    }
  }
}
