<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Form validator</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-row>
        <ion-col size="12" class="ion-text-center">
            <form [formGroup]="vForm">
                <ion-item lines="none">
                    <ion-icon name="mail" color="warning"></ion-icon>
                    <ion-input formControlName="email" type="text" placeholder="EMAIL"></ion-input>
                </ion-item>
                <ion-text class="ion-text-center ion-padding-start" color="danger"
                          *ngIf="!vForm.controls.email.valid  && vForm.controls.email.dirty">
                    please enter a valid email
                </ion-text>
                <ion-item lines="none">
                    <ion-icon name="md-person" color="warning"></ion-icon>
                    <ion-input formControlName="name" type="text" placeholder="NAME"></ion-input>
                </ion-item>
                <ion-text class="ion-text-center ion-padding-start" color="danger"
                          *ngIf="!vForm.controls.name.valid  && vForm.controls.name.dirty">
                    name Length at 6-15
                </ion-text>
            </form>
        </ion-col>
        <ion-col size="12">
            <ion-button expand="block" color="secondary" [disabled]="!vForm.valid" (click)="onSubmit()">Submit
            </ion-button>
        </ion-col>
    </ion-row>

</ion-content>
