<app-head [title]="'Analisis de producto'"></app-head>

<ion-content>
  <ion-list>
  <ion-item class="bg-blackk">
    <ion-avatar slot="start">
      <img src="/assets/images/polychem/Imagen 1.svg">
    </ion-avatar>
    <ion-label>
      <ion-row class="row">
        <ion-col size="12">
          <h2 class="text-blanco text-bold">SAL ROSA DEL HIMALAYA 
            MOLIDO  FINO BOLSA 1</h2>
            <span class="text-blanco text-regular">Análisis por:</span>
        </ion-col>
        <ion-col size="4">
          Precio
      </ion-col>
        <ion-col size="4">
            <ion-toggle color="secondary"></ion-toggle>
        </ion-col>
        <ion-col size="4">
          Margen
      </ion-col>
        
      </ion-row>       
    </ion-label>
  </ion-item>
</ion-list>

<ion-row>
  <ion-col size="9">
    <p class="text-blanco p-l-10">Producto Fabricado</p>
  </ion-col> 
  <ion-col size="3">
    <ion-fab-button> <ion-icon  name="logo-usd"></ion-icon></ion-fab-button>
  </ion-col>  
</ion-row>

<ion-card>
  <ion-card-header>
   <ion-card-subtitle>Registrado</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-row>
      <ion-col size="8">
        <span class="text-orange d-block text-center "> Precio MSRP </span>
        <span class="text-blanco d-block text-center m-t-10"> 1,911.12 MXN </span>
        <small  class="text-blanco d-block text-center m-t-10">Juan Carlos Rodarte</small>
      </ion-col>
      <ion-col size="4">
        <span class="text-orange d-block text-center"> Márgen </span>
        <span class="text-blanco d-block text-center m-t-10"> 1.05% </span>
        <small class="text-blanco d-block text-center m-t-10">11/06/2021</small>
      </ion-col>
      <ion-col size="12">
        <span class="text-orange d-block"> Precio más bajo en venta </span>
      </ion-col>
      <ion-col size="8">
        
        <span class="text-blanco d-block text-center"> 1,911.12 MXN </span>
        
      </ion-col>
      <ion-col size="4">
        
        <span class="text-blanco d-block text-center">1.05% </span>
        
      </ion-col>
      <ion-col size="12">
        
        <small class="text-blanco d-block ">Restaurante pepito perez</small>
        
      </ion-col>
    </ion-row>

  </ion-card-content>

</ion-card>
<ion-row>
  <ion-col size="12">
    <span class="text-orange d-block  m-t-20">Simulación MSRP</span>
  </ion-col>
  <ion-col size="12">
    <h2 class="text-blanco d-block  m-t-20">1,155.45 MXN</h2>
  </ion-col>
  <ion-col size="4">
    <ion-item>
      
      <ion-input type="numeric"></ion-input>
      <ion-label class="text-blanco">%</ion-label>
    </ion-item>
  </ion-col>
 
</ion-row>
<ion-row>
  <ion-col size="6 ">
    <div expand="block" routerLink="/volumenvsmargen/detalle"  class="btn btn-azuladmyo">Ver Detalle</div>
  </ion-col>
  <ion-col size="6 ">
    <div expand="block" class="btn btn-orange">Fijar Nuevo  Precio</div>
  </ion-col>
</ion-row>
<app-barbuttons></app-barbuttons>
<ion-row class="m-t-50">
    <ion-col size="12" routerLink="/volumenvsmargen/preciovolumen">
      <ion-card>
        <app-graphicscatter></app-graphicscatter>
      </ion-card>
    </ion-col>
    <ion-col size="12">
      <ion-card>
        <ion-row>
          <ion-col size="12">
            <span class="text-blanco d-block text-bold m-t-20">Precio Venta Media</span>
          </ion-col>
          <ion-col size="12" class="text-center">
            <h2 class="text-blanco d-block  m-t-20">11.45 MXN</h2>
          </ion-col>
          <ion-col size="12">
            <span class="text-blanco d-block text-bold m-t-20">Precio Venta Medio Ponderado</span>
          </ion-col>
          <ion-col size="12" class="text-center">
            <h2 class="text-blanco d-block  m-t-20">11.45 MXN</h2>
          </ion-col>
          <ion-col size="6">
            <span class="text-blanco d-block  m-t-20 text-center">S2 Varianza</span>
          </ion-col>
          <ion-col size="6">
            <span class="text-blanco d-block  m-t-20 text-center">S Desviación Estandard</span>
          </ion-col>
          <ion-col size="6">
            <h2 class="text-blanco d-block  m-t-20 text-center">11.01</h2>
          </ion-col>
          <ion-col size="6">
            <h2 class="text-blanco d-block  m-t-20 text-center">11.01</h2>
          </ion-col>
         
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
<app-footer></app-footer>