<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="slide">
            <ion-icon name="md-person"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="slide">
        </ion-tab-button>
        <ion-tab-button tab="slide">
            <ion-icon name="pricetags"></ion-icon>
            <ion-label>List</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
<ion-fab vertical="bottom" horizontal="center" slot="fixed" class="fab-bottom">
    <ion-fab-button color="warning" class="fade-in-bottom" routerLink="/tabs-bottom/slide">
        <ion-icon name="ios-basket" size="large" color="secondary"></ion-icon>
    </ion-fab-button>
</ion-fab>
