<ion-grid>
  <ion-row>
    <ion-col size-md="6" size="12">
      <ion-card class="ion-no-padding ion-no-margin" *ngFor="let item of list">
        <ion-item lines="none" class="ion-no-margin">
          <ion-avatar>
            <img [src]="item.avatar">
          </ion-avatar>
          <ion-label class="ion-no-margin ion-margin-start">
            <h3 class="text-size-xl text-color-medium">{{item.name}}</h3>
            <p class="text-size-s text-color-tertiary">{{item.time}}</p>
          </ion-label>
          <ion-button fill="clear">
            <ion-icon name="ios-more" slot="icon-only" class="text-color-secondary"></ion-icon>
          </ion-button>
        </ion-item>
        <img [src]="item.img">
        <ion-card-content>
          <h3 class="text-size-xl text-color-medium">{{item.title}}</h3>
          <p class="text-size-s text-color-tertiary">{{item.content}}</p>
          <ion-button class="transparent ion-no-padding">
            <ion-icon name="thumbs-up" color="secondary"></ion-icon>
            {{item.likes}} Likes
          </ion-button>
          <ion-button class="transparent">
            <ion-icon name="ios-chatbubbles" color="secondary"></ion-icon>
            {{item.likes}} Comments
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
