:host {

  ion-item {
    margin: 0px 0px 10px 0px !important;
  }

  ion-item-divider {
    background: transparent;
  }

  ion-icon {
    font-size: 27px;
  }

  .item-options-end {
    border-bottom-width: 0px !important;
  }
}
