:host {
  ion-card {
    position: relative;
    height: 250px;
    display: flex;
    align-items: center;

    &.background-size {
      background-position: top 40px center !important;
      background-size: cover !important;

      &::after {
        content: "";
        background: var(--custom-gradient-image);
        position: absolute;
        height: 50%;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    > div {
      background-color: var(--my-custom-active);
      width: 100%;
      height: 40px;
      position: absolute;
      z-index: 999;
      top: 0;
      display: flex;
      align-items: center;

      ion-icon {
        margin: 0 auto;
      }
    }

    ion-icon {
      transition: all 500ms;
    }

    &.active {
      ion-icon {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }

      ion-card-content {
        transform: translateY(0%) !important;
        height: 100%;
        padding-top: 56px;
      }
    }
  }


  ion-card-title {
    z-index: 99;
    position: absolute;
    bottom: 0;
    padding-top: 56px;
  }

  ion-card-content {
    background-color: var(--my-custom-item-background);
    position: absolute;
    top: 0;
    display: flex !important;
    align-items: center;
    z-index: 99;
    width: 100%;
    transform: translateY(-100%);
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
}
