
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab='descripcion'>
        <ion-icon name="create"></ion-icon>
        <ion-label>Descripcion</ion-label>
      </ion-tab-button>
  
      <ion-tab-button  tab="contenido">
        <ion-icon name="cube"></ion-icon>
        <ion-label>Contenido</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="empaque">
        <ion-icon name="albums"></ion-icon>
        <ion-label>Empaque</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="generales">
        <ion-icon name="book"></ion-icon>
        <ion-label>Generales</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="revisar">
        <ion-icon name="eye"></ion-icon>
        <ion-label>Revisar</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
