<app-head [title]="'Generales'"></app-head>
<ion-content>
  <ion-card>
    <app-grficacirculo></app-grficacirculo>
  </ion-card>
  <ion-row class="text-blanco d-flex aling-items-center ">
    <ion-col size="12">
     <h4>Gastos Generales (M MXN)</h4>
    </ion-col>
    <ion-col size="6" class=" text-center ">
      <span class=" d-block text-orange">2020</span>
      <span class=" d-block ">1,510.02</span>
    </ion-col>
    <ion-col size="6" class=" text-center ">
      <small>Estimados</small>
      <span class=" d-block text-orange">2021</span>
      <span class=" d-block text-center ">1,510.02</span>
    </ion-col>
    <ion-col size="12" class=" text-center ">
      <span>6,43% CAGR</span>
    </ion-col>
    <ion-col size="12" >
      <h4>Unidades Vendidas (K Unidades)</h4>
     </ion-col>
     <ion-col size="6" class=" text-center ">
      <span class=" d-block text-orange">2020</span>
      <span class=" d-block ">1,510.02</span>
    </ion-col>
    <ion-col size="6" class=" text-center ">
      <small>Estimados</small>
      <span class=" d-block text-orange">2021</span>
      <span class=" d-block ">1,510.02</span>
    </ion-col>
    <ion-col size="12" class=" text-center ">
      <span>6,43% CAGR</span>
    </ion-col>
    <ion-col size="12">
      <h4>Costo / Unidad con conceptos
        seleccionados ( MXN/ Unid.)</h4>
     </ion-col>
     <ion-col size="6" class=" text-center ">
      <span class=" d-block text-orange">2020</span>
      <span class=" d-block ">1,510.02</span>
    </ion-col>
    <ion-col size="6" class=" text-center ">
      <small>Estimados</small>
      <span class=" d-block text-orange">2021</span>
      <span class=" d-block ">1,510.02</span>
    </ion-col>
    <ion-col size="12" class=" text-center ">
      <span>6,43% CAGR</span>
    </ion-col>
  </ion-row>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div routerLink='/volumenvsmargen/generalesform' class="col-12 btn text-blanco btn-secondary btn-lg">Mod. distribución
        de Gastos</div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>