<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Full Image with CTA</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ul class="ion-no-padding ion-no-margin">
            <li *ngFor="let item of list">
                <div [ngStyle]="{'background-image': 'url('+item.img+')'}" class="box">
                    <ion-button color="secondary" class="btn" (click)="toggle(item)">
                        <ion-icon name="arrow-down" [class.rotate]="item.active"></ion-icon>
                        Watch Now
                    </ion-button>
                </div>
                <div class="accordion" [class.active]="item.active">
                    <ion-item lines="none">
                        <ion-label class="ion-text-center">
                            <h3>{{item.title}}</h3>
                            <span>
                             <ion-icon name="star" color="secondary"></ion-icon>
                             <ion-icon name="star" color="secondary"></ion-icon>
                             <ion-icon name="star" color="secondary"></ion-icon>
                             <ion-icon name="star" color="secondary"></ion-icon>
                              <ion-icon name="star-outline" color="secondary"></ion-icon>
                          </span>
                            <p>{{item.reviews}}</p>
                            <p class="ion-text-wrap">{{item.content}}</p>
                        </ion-label>
                    </ion-item>
                </div>
            </li>
        </ul>
    </div>

</ion-content>
