:host{
  ion-card {
    background: var(--my-card-background) !important;
    margin-bottom: 10px !important;

    ion-item {
      border-radius: 0px !important;
      --background: transparent !important;
    }
  }
}
