:host {
  ion-content {
    --background: url('../../../../assets/images/splash/1.jpg');
  }

  .logo {
    width: 120px;
    margin-top: 20px;

    img {
      width: 100%;
    }
  }

  .slide-top {
    -webkit-animation: slide-in-blurred-top 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.1s both;
    animation: slide-in-blurred-top 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.1s both;
  }

}
