<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="6" *ngFor="let item of list">
      <ion-card class="ion-no-padding ion-no-margin background-size" [class.active]="item.active"
                [ngStyle]="{'background-image': 'url('+item.img+')'}"
                (click)="item.active=!item.active">
        <ion-card-title class="ion-padding-start">
          <h3 class="text-color-light">{{item.title}}</h3>
        </ion-card-title>
        <div>
          <ion-icon name="ios-arrow-forward" size="large" color="light"></ion-icon>
        </div>
        <ion-card-content>
          <ion-card-subtitle>
            <h4 class="text-size-xl text-color-light">{{item.title}}</h4>
            <p class="text-size-s text-color-secondary ion-padding-top">{{item.content}}</p>
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
