app-sign-up1 {
  ion-toolbar {
    --ion-toolbar-background: transparent !important;
    --border-width: 0px !important;
  }

  ion-content {
    --background: url('../../../../assets/images/login.jpg') no-repeat fixed !important;
    overflow: hidden;
  }

  ion-row {
    background: transparent !important;
    margin: 8px !important;
  }

  .logo {
    width: 120px;
    margin-top: 20px;

    img {
      width: 100%;
    }
  }

  ion-card {
    padding-top: 10px;
    background: var(--my-card-background) !important;
  }

  ion-item {
    border-radius: 10px;
    --border-color: white !important;
  }

  ion-input {
    color: var(--ion-color-primary-contrast) !important;
  }

  .slide-top {
    -webkit-animation: slide-in-blurred-top 2.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-top 2.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  }

  .slide-bottom0 {
    -webkit-animation: slide-in-blurred-bottom 0.1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-bottom 0.1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  }

  .slide-bottom1 {
    -webkit-animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  }

  .slide-bottom2 {
    -webkit-animation: slide-in-blurred-bottom 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-bottom 0.9s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  }

  .slide-bottom3 {
    -webkit-animation: slide-in-blurred-bottom 1.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-bottom 1.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  }

  .slide-bottom4 {
    -webkit-animation: slide-in-blurred-bottom 1.7s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-bottom 1.7s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  }
}
