
<ion-slides>
  <ion-slide>
    <div class="card container-fluid bg-dark">
      <div class="card-body row ">
        <div class="col-12 mb-5">
          <app-barbuttons></app-barbuttons>
        </div>
        <div class="col-12 text-blanco mt-3">
          <h4 class="d-block text-center">SAL ROSA DEL HIMALAYA 
            MOLIDO  FINO BOLSA 1</h4>
        </div>
    
        <div class="col-12">
          <ion-slides>
            <ion-slide >
              <img src="assets/images/polychem/productos/sal-ros-molido-fino.jpg">
            </ion-slide>
            <ion-slide >
              <img src="assets/images/polychem/productos/60.jpg">
            </ion-slide>
            <ion-slide >
              <img src="assets/images/polychem/productos/43.jpg">
            </ion-slide>
         </ion-slides>
        </div>
        <div class="col-6  text-blanco">
          <span class="d-block text-orange mt-2 text-center">
            Precio MSRP
          </span>
          <span class="d-block text-orange mt-2  text-center">
            1,911.12 MXN
          </span>
        </div>
        <div class="col-6">
          <span class="d-block text-orange  mt-2 text-center">
            Márgen
          </span>
          <span class="d-block text-orange  mt-2 text-center">
            1.05%
          </span>
          
        </div>
    
    
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-6  text-blanco">
          
          <p class="w-100 text-right mt-4">10.05 %</p>
          <p class="w-100 text-right mt-5 ">911.12 MXN</p>
        </div>
        <div class="col-6">
          
          <small class="d-block text-left mt-4">más caro que la competencia</small>
          <small class="d-block text-left mt-4">Precio más bajo en venta
            "Cliente xxxxxx"</small>
        </div>
        <div class="col-6">
          <small>Leonardo Lira Cazares</small>
        </div>
        <div class="col-6">
          <small>25/10/2012</small> 
        </div>
      </div>
    </div>

  </ion-slide>
  <ion-slide>
    <div class="card container-fluid bg-dark">
      <div class="card-body row ">
        <div class="col-12 mb-5">
          <app-barbuttons></app-barbuttons>
        </div>
        <div class="col-12 text-blanco mt-3">
          <h4 class="d-block text-center">SAL ROSA DEL HIMALAYA 
            MOLIDO  FINO BOLSA 1</h4>
        </div>
    
        <div class="col-12">
          <ion-slides>
            <ion-slide >
              <img src="assets/images/polychem/productos/sal-ros-molido-fino.jpg">
            </ion-slide>
            <ion-slide >
              <img src="assets/images/polychem/productos/60.jpg">
            </ion-slide>
            <ion-slide >
              <img src="assets/images/polychem/productos/43.jpg">
            </ion-slide>
         </ion-slides>
        </div>
        <div class="col-6  text-blanco">
          <span class="d-block text-orange mt-2 text-center">
            Precio MSRP
          </span>
          <span class="d-block text-orange mt-2  text-center">
            1,911.12 MXN
          </span>
        </div>
        <div class="col-6">
          <span class="d-block text-orange  mt-2 text-center">
            Márgen
          </span>
          <span class="d-block text-orange  mt-2 text-center">
            1.05%
          </span>
          
        </div>
    
    
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-6  text-blanco">
          
          <p class="w-100 text-right mt-4">10.05 %</p>
          <p class="w-100 text-right mt-5 ">911.12 MXN</p>
        </div>
        <div class="col-6">
          
          <small class="d-block text-left mt-4">más caro que la competencia</small>
          <small class="d-block text-left mt-4">Precio más bajo en venta
            "Cliente xxxxxx"</small>
        </div>
      <div class="col-6">
        <small>Leonardo Lira Cazares</small>
      </div>
      <div class="col-6">
        <small>25/10/2012</small> 
      </div>
      </div>
    </div>

  </ion-slide>
</ion-slides>



