:host {

  ion-avatar {
    margin: 10px auto !important;
  }

  ion-item {
    margin: 0px !important;
    border-radius: 0px !important;
  }

  .bg {
    background: var(--my-custom-backgroud2) !important;
    padding: 10px;
  }

}
