:host {
  ion-card {
    border-radius: 0px !important;
  }

  ion-avatar {
    margin: 10px auto !important;
  }

  ion-item {
    margin: 0px !important;
    border-radius: 0px !important;
  }

  ion-label {
    padding: 5px !important;
  }
}
