<app-head [title]="'Empaque'"></app-head>

<ion-content>
<div class="container">
  <div class="row">
    <div class=" col-6 mt-3 ">
    
    </div>
    <div class=" col-6 mt-3 text-rigth">
      <div class="btn btn-azulprimary text-blanco d-flex p-4">
        Agregar Etiqueta
      </div>
      
    </div>
    <div class="col-12  mt-3">
      <div class="card" >
        <div class="card-header">
          Envase primario
        </div>
        <div class="card-body ">
          <div class="form-group mt-3">
            <label >Envase</label>
            <input type="text" class="form-control">
           
          </div>
          <div class="form-group mt-3">
            <label >Proveedor</label>
            <input type="text" class="form-control">
           
          </div>
          <div class="form-group mt-3 text-bold">
            <label >Costo/Unidad $15.00</label>
           
          </div>
        </div>
      </div>
    </div>
    <div class="col-12  mt-3">
      <div class="card" >
        <div class="card-header">
          Tapa
        </div>
        <div class="card-body ">
          <div class="form-group mt-3">
            <label >Envase</label>
            <input type="text" class="form-control">
           
          </div>
          <div class="form-group mt-3">
            <label >Proveedor</label>
            <input type="text" class="form-control">
           
          </div>
          <div class="form-group mt-3 text-bold">
            <label >Costo/Unidad $15.00</label>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-3 mb-3">
  <div class="row">
    <div class="col-6">
      <div routerLink="/productos/contenido" class="btn btn-secondary d-flex">Anterior</div>
    </div>
    <div class="col-6">
      <div  class="btn btn-succes d-flex text-blanco">Guardar</div>
    </div>
  </div>
</div>


</ion-content>
<app-footer></app-footer>